<!-- Catering Menu Section -->
<div id="catering-menu" class="catering-menu">
  <div class="container">
    <h1>SOAG BBQ CATERING</h1>
    
    <!-- Drop Off Catering -->
    <div class="catering-option">
        <h2 class="menu-option-header"><i class="fas fa-box-open"></i> Drop Off Catering</h2>
        <p>Delivered in our to-go boxes, perfect for serving straight away.</p>
        <div class="catering-menu-item">
            <span class="plate-detail">1 Meat, 2 Sides <i class="fas fa-drumstick-bite"></i></span>
            <span class="price">$20.99 per person</span>
        </div>
        <div class="catering-menu-item">
            <span class="plate-detail">2 Meats, 2 Sides <i class="fas fa-drumstick-bite"></i> <i class="fas fa-drumstick-bite"></i></span>
            <span class="price">$23.99 per person</span>
        </div>
        <div class="catering-menu-item">
            <span class="plate-detail">3 Meats, 2 Sides <i class="fas fa-drumstick-bite"></i> <i class="fas fa-drumstick-bite"></i> <i class="fas fa-drumstick-bite"></i></span>
            <span class="price">$26.99 per person</span>
        </div>
        <p class="dinner-rolls">All options include dinner rolls.</p>

    </div>

    
    <!-- Onsite Smoker Catering -->
    <div class="catering-option">
      <h2 class="menu-option-header"><i class="fas fa-fire"></i> Onsite Smoker Catering</h2>
      <p>Experience the full ambiance of BBQ with our onsite smoker, right at your event.</p>
      <div class="catering-menu-item">
            <!-- <span class="plate-detail">1 Meat, 2 Sides <i class="fas fa-drumstick-bite"></i></span>
            <span class="price">$22.99 per person</span> -->
        </div>
        <div class="catering-menu-item">
            <span class="plate-detail">2 Meats, 2 Sides <i class="fas fa-drumstick-bite"></i> <i class="fas fa-drumstick-bite"></i></span>
            <span class="price">$27.99 per person</span>
        </div>
        <div class="catering-menu-item">
            <span class="plate-detail">3 Meats, 2 Sides <i class="fas fa-drumstick-bite"></i> <i class="fas fa-drumstick-bite"></i> <i class="fas fa-drumstick-bite"></i></span>
            <span class="price">$29.99 per person</span>
        </div>
      <p class="dinner-rolls">All options include dinner rolls.</p>
    </div>
  </div>
</div>
